numpy
pandas

# face recoginition
scikit-learn
dlib-bin

git+https://github.com/ageitgey/face_recognition_models
setuptools<70.0.0


#databases
supabase
bcrypt

segno  # for qr code generation
pillow # helps in image preprocessing

streamlit

#voice recognition 
librosa
resemblyzer